<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>QuickInsert</servlet-name>
        <servlet-class>utils.QuickInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrenotazioneServlet</servlet-name>
        <servlet-class>web.PrenotazioneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuickList</servlet-name>
        <servlet-class>utils.QuickList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CCServlet</servlet-name>
        <servlet-class>web.CCServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MedicoServlet</servlet-name>
        <servlet-class>web.MedicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test_servlet</servlet-name>
        <servlet-class>utils.test_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuickInsert</servlet-name>
        <url-pattern>/utils/QuickInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrenotazioneServlet</servlet-name>
        <url-pattern>/PrenotazioneServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuickList</servlet-name>
        <url-pattern>/utils/QuickList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CCServlet</servlet-name>
        <url-pattern>/CCServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicoServlet</servlet-name>
        <url-pattern>/MedicoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test_servlet</servlet-name>
        <url-pattern>/test_servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
