/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 16-dic-2013, 16.02.32
    Author     : toby
*/

.login-scelta {
    list-style: none;
    display: inline-block;
    background-color: #99ccff;
    border-radius: 10px;
    cursor:pointer;
}

body{
    text-align: center;
}